<!-- Форма за внесување рецензии -->
<div class="review-form">
    <h3>Оставете рецензија</h3>
    <form (ngSubmit)="addReview()">
      <div class="form-group">
        <label for="name">Име:</label>
        <input type="text" id="name" [(ngModel)]="review.name" name="name" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="rating">Оценка:</label>
        <div class="rating">
          @for(star of stars; track stars;let i = $index) {
          <span (click)="setRating(i + 1)"
                [ngClass]="{'filled': review.rating >= (i + 1)}">&#9733;</span>
          }
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Испрати</button>
    </form>
  </div>
  
  <!-- Листа на рецензии -->
  <div class="reviews-list">
    <h3>Рецензии</h3>
    @for(rev of reviews;track reviews){
    <div class="card" style="margin-bottom: 1rem;">
      <h4>{{ rev.name }}</h4>
      <div class="rating">
        @for(star of stars;track stars){
        <span  [ngClass]="{'filled': rev.rating >= (star + 1)}">&#9733;</span>
        }
      </div>
    </div>
  }

  </div>
  